{% set active_page = "profile" %}

<div class="row">
    <div class="col-md-3">
        <div style="padding-top:35px"> 
        	<div class="well" style="position:relative; left:-15px">
                <ul class="nav text-justify" role="tablist" id="myTab">
                    <li class="active"><a href="#editProf" role="tab" data-toggle="tab">Edit Profile</a></li>
                    <li><a href="#photo" role="tab" data-toggle="tab">Photos</a></li>
                    <li><a href="#trust" role="tab" data-toggle="tab">Trust and Verification</a></li>
                    <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
                    <li><a href="#references" role="tab" data-toggle="tab">References</a></li>
                  </ul>
            </div>
        </div>    
    </div>
    <div class="col-md-9 col-offset-md-3" style="padding-top:35px">
        <div class="tab-content">
            <div class="tab-pane active" id="editProf">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Required</h4>
                    </div>
                    <div class="panel-body">
                        <p>Edit Profile Form Will Go Here.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="photo">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Photos</h4>
                    </div>
                    <div class="panel-body">
                        <p>Something about photos will go here.</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="trust">
                <p>something blah here</p>

            </div>
            <div class="tab-pane" id="reviews">
                <p>something else here</p>

            </div>
            <div class="tab-pane" id="references">
                <p>something else here</p>

            </div>
        </div>
    </div>
</div>

